@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-blue: #3e5c76;
  --light-blue: #738cab;
  --primary-black: #1e1e1e;
  --primary-white: #fefaf7;
  --back-color: #fefaf7;
  --max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--primary-black);
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--back-color);
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--back-color);
  color: var(--primary-black);
  z-index: 1;
}

.nav-content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--primary-black);
  transition: all ease 0.3s;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-black);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
}

ul li a:active {
  color: var(--primary-blue);
}

ul li a:hover {
  color: var(--light-blue);
  font-weight: 600;
  transition: all ease 0.3s;
}

#sign-in {
  height: 40px;
  width: 80px;
  font-size: 17px;
  font-weight: 400;
  background-color: var(--primary-black);
  color: var(--primary-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#sign-in:hover {
  background-color: transparent;
  border: 2px solid black;
  color: var(--primary-black);
  transition: all ease 0.3s;
}

/*Discover CSS*/

.section-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 5rem;
  font-weight: 350;
  font-family: "Noto Serif", sans-serif;
  line-height: 5.5rem;
  color: var(--primary-blue);
}

.description {
  line-height: 1.5rem;
  font-weight: 200;
  margin-bottom: 4rem;
}

.text > h1 {
  text-align: center;
  margin: 2rem 0 3.5rem 0;
}

.action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.action-btn button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
  height: 60px;
  background-color: #111;
  color: #fff;
  border-radius: 30px;
  padding: 0 10px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}

.action-btn button:hover {
  border: 2px solid black;
  background-color: transparent;
  color: #111;
  transition: all ease 0.55s;
}

/*Main Button*/
.btn-holder {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pill-button {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border: none;
  border-radius: 60px;
  padding: 15px 30px 15px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-holder .pill-button i {
  font-size: 30px; /* Adjust icon size if needed */
  padding: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  color: black;
}

.pill-button:hover {
  background-color: white;
  color: var(--primary-black);
  transition: 0.3s ease;
  border: 1px solid black;
  & i {
    background-color: black;
    color: var(--primary-white);
  }
  & p {
    color: var(--primary-black);
  }
}

.pill-button p {
  font-size: 20px;
  color: var(--primary-white);
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(40rem, 100%);
}

.photo img {
  width: 100%;
}
/*Discover CSS End*/

/*About Us CSS*/

.about-us {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/*About Us CSS End*/

/*Price Plan CSS*/
.card-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
}

.price-plan-heading {
  width: 100%;
  margin: 3rem 0;
}

.price-plan-heading h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 350;
  font-family: "Noto Serif", sans-serif;
  color: var(--primary-blue);
}

.price-card-container {
  width: 100%;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 3rem;
  gap: 25px;
}

.price-card {
  background-color: #d5d0cc;
  padding: 2rem;
  border-radius: 20px;
}

.price {
  font-size: 32px;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 2rem;
}

.price span {
  font-size: 20px;
}

.price-label {
  margin-bottom: 0.5rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 40px 0;
}

/*Price Plan CSS End*/

/*Footer CSS*/

.footer-container {
  background-color: var(--primary-black);
  border-radius: 1rem 1rem 0 0;
}

.footer {
  height: 12rem;
  max-width: var(--max-width);
  margin: auto;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
}

.upper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 41rem;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-white);
}

.upper-left,
.upper-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper-right > h6 {
  color: var(--light-blue);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.upper-right form {
  width: 18rem;
  height: 2.2rem;
  display: flex;
  border-bottom: 1px solid var(--primary-white);
  align-items: center;
}

form .bx {
  color: var(--primary-white);
  margin-right: 0.5rem;
}

.upper-right form input {
  height: 100%;
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
}

.upper-right button {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 1rem;
}

form .bxs-send {
  color: var(--primary-white);
  font-size: 1rem;
}

form .bxs-send:hover {
  color: var(--primary-blue);
  transition: all ease 0.55s;
  cursor: pointer;
}

.lower {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lower-left,
.lower-right {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.lower-left a {
  color: var(--primary-white);
  cursor: pointer;
}

.lower-right > div > i {
  color: var(--primary-white);
  cursor: pointer;
}

.lower-right > div > i:hover {
  color: var(--primary-blue);
}

.lower-left a:hover {
  color: var(--primary-blue);
}

.logo-text {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-white);
  font-family: "Noto Serif", sans-serif;
}

.copyright {
  color: var(--primary-white);
  font-size: 0.7rem;
}

/*Footer CSS End*/

@media (width < 1250px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--back-color);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section-container {
    padding: 7rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action-btn {
    margin: auto;
  }

  .price-card-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10rem;
  }

  .price-card {
    text-align: center;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .upper {
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1.5rem;
  }

  .lower {
    justify-content: flex-end;
  }

  .lower-left {
    display: none;
  }

  .lower-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 1rem;
  }
}

@media (width < 500px) {
  .price-card-container {
    padding: 0;
  }
}
