<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/css/infomation.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css"
    integrity="sha512-EJp8vMVhYl7tBFE2rgNGb//drnr1+6XKMvTyamMS34YwOEFohhWkGq13tPWnK0FbjSS6D8YoA3n3bZmb3KiUYA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <title>Body Type Guide</title>
</head>

<body>
  <nav>
    <div class="nav-content">
      <div class="logo"><a href="#">Fitfair</a></div>
      <label for="check" class="checkbox">
        <i class="bx bx-menu"></i>
      </label>

      <input type="checkbox" name="check" id="check" />

      <!--Navigation Links-->
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#about-us">About</a></li>
        <li><a href="/analyze-with-ai">Analyze with AI</a></li>
        <li><a href="/choose-body-type">Body Type Guide</a></li>
        <li><button id="sign-in">Sign In</button></li>
      </ul>
    </div>
    <hr style="border: 0.5px solid black; max-width: 1200px; margin: auto" />
  </nav>

  <div class="main-content">
    <div class="mainLeftSide">
      <h1 class="title">Determine Your Body Shape(s)</h1>
      <p class="titlecontent">
        Female body shapes are controversial - mainly because they are just
        confusing. As every body is different, knowing yours can help you make
        decisions that will make you feel good about yourself and at ease.
        This guide aims to identify and comprehend our body types so that AI
        can assist you in selecting the most flattering clothing style.
      </p>
    </div>

    <div class="rightImgBodyShape">
      <img src="static/images/figures.png" alt="" />
    </div>
  </div>

  <!-- this is table of content part -->
  <div>
    <div class="container">
      <div class="header">
        <h2>Triangle Body Type</h2>
        <button class="toggleButton">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>

      <div class="content hidden">
        <div class="leftImgBodyShape">
          <img src="static/images/d4.png" alt="" />
        </div>
        <div class="rightSideHidden">
          <p class="titlecontentHidden">
            The Triangle body type, also known as the Pear shape, has a
            narrower upper body and wider hips, creating a bottom-heavy
            silhouette. Celebrities like Beyoncé and Jennifer Lopez are
            well-known for their curvaceous pear-shaped figures. This body
            type is great for accentuating the waist and highlighting the
            lower body.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="header">
        <h2>Inverted Triangle</h2>
        <button class="toggleButton">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
      <div class="content hidden">
        <div class="leftImgBodyShape">
          <img src="static/images/d2.png" alt="" />
        </div>
        <div class="rightSideHidden">
          <p class="titlecontentHidden">
            The Inverted Triangle body type is defined by broader shoulders
            and bust, with narrower hips, giving a top-heavy appearance.
            Famous celebrities like Angelina Jolie and Charlize Theron
            exemplify this striking and strong body shape. Women with this
            body type often emphasize their lower body to create a more
            balanced look.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="header">
        <h2>Hourglass Body Type</h2>
        <button class="toggleButton">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
      <div class="content hidden">
        <div class="leftImgBodyShape">
          <img src="static/images/d3.png" alt="" />
        </div>
        <div class="rightSideHidden">
          <p class="titlecontentHidden">
            The Hourglass body type features a well-defined waist with
            balanced bust and hips, creating a curvy silhouette. Celebrities
            like Marilyn Monroe and Kim Kardashian are iconic examples of this
            classic, feminine shape. The hourglass figure is often considered
            ideal for showcasing both fitted and flowy clothing.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="header">
        <h2>Rectangle Body Type</h2>
        <button class="toggleButton">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
      <div class="content hidden">
        <div class="leftImgBodyShape">
          <img src="static/images/d1.png" alt="" />
        </div>
        <div class="rightSideHidden">
          <p class="titlecontentHidden">
            The Rectangle body type is characterized by a straight silhouette
            with little definition between the bust, waist, and hips. Women
            with this body shape often have athletic figures, similar to
            celebrities like Cameron Diaz and Natalie Portman. This body type
            allows for a versatile fashion style, as most clothing fits well
            without needing much alteration.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="thirdPartContent">
    <div class="howToMeasureYourBody">
      <h3>Main Body Parts to Measures</h3>
      <p>
        When measuring, be sure to stand straight with arms to the side. Make
        sure the tape is snug against the body, but not too tight such that it
        compresses the body making the measurement inaccurate.
      </p>

      <ul>
        <li>
          Bust size—the circumference measured around the chest over the
          fullest part of the breasts, while wearing a properly fitted bra.
        </li>
        <li>
          Waist size—the smallest circumference measured around the natural
          waist, just above the belly button.
        </li>
        <li>
          High hip size—the circumference of the upper swell of the hip over
          the pelvic region. It is around 7 inches (18 cm) below the natural
          waist.
        </li>
        <li>
          Hip size—the largest circumference measured around the hips over the
          largest part of the buttocks
        </li>
      </ul>
    </div>

    <div class="card-container">
      <div class="character-card red">
        <img src="static/images/girl.png" alt="Rosetta" />
        <h3>Rectangle WHR</h3>
        <p>WHR: 0.8 or more</p>
      </div>
      <div class="character-card blue">
        <img src="static/images/girl2.png" alt="Sadness" />
        <h3>Hourglass WHR</h3>
        <p>WHR: 0.75 or less</p>
      </div>
      <div class="character-card red">
        <img src="static/images/girl.png" alt="Rosetta" />
        <h3>Triangle WHR</h3>
        <p>WHR: 0.75 or less</p>
      </div>
      <div class="character-card blue">
        <img src="static/images/girl2.png" alt="Sadness" />
        <h3>Inverted Triangle WHR</h3>
        <p>WHR: 0.8 or more</p>
      </div>
    </div>
  </section>

  <section class="imgbuttonFourthSection">
    <h3>Calculate The Wasit to Hip Ratio</h3>
    <p>Choose the body type you want to know</p>

    <div class="button-container">
      <button onclick="changeImage('static/images/c1.png', 'Triangle Body Type')">
        Triangle Body Type
      </button>
      <button onclick="changeImage('static/images/c2.png', 'Rectangle Body Type')">
        Inverted Triangle Body Type
      </button>
      <button onclick="changeImage('static/images/c3.png', 'Hourglass Body Type')">
        Rectangle Body Type
      </button>
      <button onclick="changeImage('static/images/c4.png', 'Oval Body Type')">
        Hourglass Body Type
      </button>
    </div>

    <div class="image-container">
      <img id="bodyTypeImage" src="static/images/c1.png" alt="Triangle Body Type" />
    </div>
  </section>
  <!--Footer Section-->

  <section class="footer-container" id="footer">
    <div class="footer">
      <div class="upper">
        <!--Footer Upper Left Logo & Copyright-->
        <div class="upper-left">
          <p class="logo-text">Fitfair</p>
          <p class="copyright">
            Copyright&#169; 2024.Fitfair All Rights Reserved
          </p>
        </div>
        <!--Footer Upper Right Input Box-->
        <div class="upper-right">
          <h6>Get the latest Information</h6>
          <form>
            <i class="bx bx-envelope"></i>
            <input type="text" placeholder="Email Address" style="color: white" />
            <button type="submit">
              <i class="bx bxs-send"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="lower">
        <!--Footer Navigation Links-->
        <div class="lower-left">
          <div><a href="#discover">Home</a></div>
          <div><a href="#about-us">About</a></div>
          <div><a href="#discover">Contact</a></div>
        </div>
        <!--Footer Social Icons-->
        <div class="lower-right">
          <div><i class="bx bxl-facebook"></i></div>
          <div><i class="bx bxl-linkedin"></i></div>
          <div><i class="bx bxl-twitter"></i></div>
          <div><i class="bx bxl-youtube"></i></div>
          <div><i class="bx bxl-instagram"></i></div>
        </div>
      </div>
    </div>
  </section>
  <script src="static/js/bodyguide.js"></script>
</body>

</html>